[project]
name = "example-usb-audio"
version = "0.0.0"
description = "USB Audio example for Tiliqua"

requires-python = ">=3.9,<=3.11"
dependencies = [
    "amaranth[builtin-yosys]~=0.4",
    "luna @ git+https://github.com/schnommus/luna@seb/isochronous-rebase",
    "scipy>=1.9.3",
]

[tool.pdm.dev-dependencies]
test = [
    "pytest",
]

[tool.pdm.scripts]
test = { cmd = "pytest" }
build_usb_audio = { call = "example_usb_audio.top:build()" }
build_dsp_core = { call = "example_dsp.top:build(sys.argv[1])" }
sim_dsp_core = { call = "example_dsp.top:simulate(sys.argv[1])" }
