[project]
name = "example-usb-audio"
version = "0.0.0"
description = "USB Audio example for Tiliqua"

requires-python = ">=3.9,<=3.11"
dependencies = [
    "amaranth[builtin-yosys]~=0.4",
    "amaranth-boards @ git+https://github.com/amaranth-lang/amaranth-boards@main",
    "luna-usb @ git+https://github.com/schnommus/luna@seb/isochronous-rebase-12-06-24",
    "luna-soc @ git+https://github.com/greatscottgadgets/luna-soc@main",
    "scipy>=1.9.3",
    "matplotlib>=3.9.0",
]

[tool.pdm.dev-dependencies]
test = [
    "pytest",
]

[tool.pdm.scripts]
test = { cmd = "pytest" }
# bitstreams that include an SoC
build_selftest = { shell = "./scripts/build_soc.sh selftest" }
build_boot     = { shell = "./scripts/build_soc.sh boot" }
build_xbeam    = { shell = "./scripts/build_soc.sh xbeam" }
build_poly     = { shell = "./scripts/build_soc.sh poly" }
# bitstreams that don't include an SoC
build_usb_audio = { call = "example_usb_audio.top:build(ila=False)" }
build_usb_audio_ila = { call = "example_usb_audio.top:build(ila=True)" }
build_dsp_core = { call = "example_dsp.top:build()" }
sim_dsp_core = { call = "example_dsp.top:simulate()" }
build_vectorscope = { call = "example_vectorscope.top:build()" }
sim_vectorscope = { call = "example_vectorscope.top:sim()" }
colors_vectorscope = { call = "example_vectorscope.top:colors()" }
# bootloader stub bitstream compressed and flashed onto RP2040
build_boot_stub = { call = "boot_stub.top:build()" }
